/* Colors: #856C8B - purple, #D4EBD0 - green, #A4C5C6 -blue, #FFEB99 - yellow */ 

body {
  background-color: #A4C5C6;
}

.header {
  background-color: #856C8B;
  padding: 100px 0;
  text-align: center;
  color: white;
}

.header h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}

header p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.portfolio {
  padding: 50px 0;
}

.portfolio .card {
  margin-bottom: 30px;
}

.footer {
  background-color: #A4C5C6; /* Changed to match the body background color */
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

section {
  background-color: #FFEB99;
}

/* !important overrides precedents! Struggled to change background color */
.navbar.navbar-custom {
  background-color: #A4C5C6 !important;
}

.card {
  border: 2px solid #343a40;
}
